.menu
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.img-css {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
